@page "/ResetPassword"
@model E_commerce.Pages.ResetPasswordModel
@{ Layout = null; }

<!DOCTYPE html>
<style>
    

   
</style>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Reset Password</title>
</head>
<body>
    <h1>Reset your password</h1>
    <form action="/account/resetpassword" method="post" id="forma">
        <input type="hidden" name="Token" value="@Request.Query["Token"]" />
        <input type="hidden" name="Email" value="@Request.Query["Email"]" />
        <table>
            <tr>
                <td>
                    New Password
                </td>
                <td>
                    <input id="input_polje"  type="password" name="NewPassword"  placeholder="New Password"/>
                   
                    <span id="Pass"><input id="Chekc" type="checkbox" onclick="myFunction()">Show password</span>
                </td>
            </tr>
            <tr>
                <td>
                    Confirm Password
                </td>
                <td>
                    <input id="input_poljee"  type="password" name="ConfirmPassword"  placeholder="Confirm Password" />
               
  
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Reset" />
                </td>
            </tr>
        </table>
    </form>
</body>
</html>
<script>
    function myFunction() {
        var x = document.getElementById("input_polje");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
    function myFunctionn() {
        var x = document.getElementById("input_poljee");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
    

</script>